:root {
    --primary-color: rgb(72, 89, 178) ;
    --secondary-color: rgb(31, 45, 116) ;
    --text-color: #5b0505;
    --padding: 20px ;
    --border-radius: 8px;
    --button-hover: red;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}
button:hover{
    background-color: var(--button-hover);
}
p{
    color: var(--text-color);
}

h1{
    background-color: var(--primary-color);
    padding: var(--padding);
    color: var(--text-color);
    margin: 0px;
}